.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.Container{
  border : 1px solid black;
  margin : auto auto;
  width : max-content;
  min-width : 100px;
  padding :  20px;
  display : flex;
  flex-wrap : wrap;
}

.DataDiv{
  padding-right: 20px;
  text-align :  start;
  max-width : 400px
}

.DropdownButton{
  width : 200px;
  border : 1px solid #eee;
  border-radius : 7px;
  padding : 10px;
  color : black;
}